/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Directorios de Laravel
/storage/
/public/hot
/public/storage
/public/build
/storage/pail
bootstrap/compiled.php
app/storage/

# Entornos y Credenciales
.env
.env.backup
.env.production
storage/*.key
/auth.json

# Configuraciones y Herramientas Locales
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
Homestead.yaml
Homestead.json
/.vagrant
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Específico para algunos entornos (si usas public_html)
public_html/storage
public_html/hot